{% extends '../layout/dashboard.html' %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
    	<h1 class="page-header">
        	{{ title }} <small>DSS SEMAR - DI. Yogyakarta</small>
        </h1>
    </div>

    {% if view==1 %}
    <div class="col-md-12">
	    <form class="form-horizontal" method="post" role="form" onsubmit="return get_data();">
		    <div class="form-group">
		    	<label class="col-md-2">Tanggal</label>
		    	<div class="col-md-3">
		    		<input type="date" name="tanggal" class="form-control" value="{{ data.tanggal }}" />
		    	</div>
		    	<div class="col-md-2">
		    		<button class="btn btn-primary">Tampil</button>
		    	</div>
		    </div>
		</form>
    </div>
    {% endif %}

    <div class="col-md-12">
    	<div id="map" style="width: 100%; height: 500px"></div>
    </div>

    <div class="sideMenu">
	    <div class="form-group" style="padding:0;">
		    <div class="col-sm-2">
		    	<button class="btn btn-xs btn-primary" onclick="toggle_menu(this)"> <i class="fa fa-arrow-right"></i> </button>
	    	</div>
	    	<div class="col-sm-10">
		    	<select name="layer" class="form-control" placeholder="Pilih layer" onchange="get_layer(this);">
		    		<option value=""></option>
		    		<option value="SEMAR/RAINFV" data-server="1"> SADEWA Hujan </option>
		    		<option value="SEMAR/SST" data-server="1"> SADEWA Suhu </option>
		    		<option value="SEMAR/PSFC" data-server="1"> SADEWA Tekanan </option>
		    		<option value="SEMAR/U" data-server="1"> SADEWA Angin </option>
		    		<option value="SEMAR/V" data-server="1"> SADEWA Angin </option>
		    		<option value="HYCOM/u:v-group" data-server="0"> HYCOM Arus </option>
		    		<option value="HIMA/ik" data-server="0"> Himawari Awan </option>
		    	</select>
		    </div>
	    </div>
    </div>

</div>

	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

	<script type="text/javascript">
		var mymap = L.map('map');
		mymap.setView(new L.LatLng(-2, 120), 4);

		// L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
		//     attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
		//     maxZoom: 18,
		//     id: 'mapbox.streets',
		//     accessToken: 'pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw'
		// }).addTo(mymap);

		var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    	var osm = new L.TileLayer(osmUrl, {minZoom: 1, maxZoom: 12, attribution: false});
    	mymap.addLayer(osm);

		function roundToTwo(num) {
	        return +(Math.round(num + "e+2") + "e-2");
	    }

		var bound = mymap.getBounds();
        var bbox = roundToTwo(bound._southWest.lng) + "," + roundToTwo(bound._southWest.lat) + "," + roundToTwo(bound._northEast.lng) + "," + roundToTwo(bound._northEast.lat);

        var wmsserver = [ 'http://182.23.27.39:8080/wms/wms', 'http://182.23.27.42/id/map2' ];
        // var layer_name = "HYCOM/u:v-dir";
        var layer_details, timesteps, layer;

        $.ajaxSetup( {
            "async": false
        } );

  //       $.get( wmsserver, {
  //           request: "GetMetadata",
  //           item: "layerDetails",
  //           layerName: layer_name 
  //       }, function (metadata) {
  //           	layer_details = metadata;
  //       }, "JSON");

  //       $.get( wmsserver, {
  //           request: "GetMetadata",
  //           item: "timesteps",
  //           layerName: layer_name,
  //           day: layer_details.nearestTimeIso}, function (res) {
		// 		timesteps = res;
		// }, "JSON");

		// console.log( layer_details );
		// console.log( timesteps );

		function get_layer( th ) {
			var ly = $(th).val();
			var srv = $(th).find('option:selected').data('server');

			if( layer!=undefined )
				mymap.removeLayer( layer );

			console.log( "request ke ", wmsserver[srv], ly );

			layer = L.tileLayer.wms( wmsserver[srv], {
				format: 'image/png',
				transparent: true,
				layers: ly,
				version: "1.3.0",
				// styles: "default-scalar/x-Sst",
				// COLORSCALERANGE: res.min + "," + res.max,
			}).addTo(mymap);
		}

		function toggle_menu( th ) {
			var show = $(th).data('show');
			show = (show==undefined) ? true:show;
			if( show ) {
				$(".sideMenu").animate( {right:"-170px"} );
				$(th).data('show', false);
				$(th).find("i").removeClass("fa-arrow-right");
				$(th).find("i").addClass("fa-arrow-left");
			} else {
				$(".sideMenu").animate( {right:"0px"} );
				$(th).data('show', true);
				$(th).find("i").removeClass("fa-arrow-left");
				$(th).find("i").addClass("fa-arrow-right");
			}
		}

		// $(document).click( function () {
		// 	console.log( "clicked" );
		// 	layer.setParams({
  //               layers: layer_name,
  //               time: layer_details.nearestTimeIso
  //           });
		// } );

	</script>

	<style type="text/css">
		.smallmap {
		    width: 100%;
		    height: 600px;
		    border: 1px solid #ccc;
		    display: inherit;
		}
		@media only screen and (max-width: 600px) {
		    body {
		        height           : 100%;
		        margin           : 0;
		        padding          : 0;
		        width            : 100%;
		    }
		    #map {
		        background : #7391ad;
		        width      : 100%;
		    }
		    #map {
		        border : 0;
		        height : 250px;
		    }
		    #title {
		        font-size   : 1.3em;
		        line-height : 2em;
		        text-indent : 1em;
		        margin      : 0;
		        padding     : 0;
		    }
		    #docs {
		        bottom     : 0;
		        padding    : 1em;
		    }
		    #shortdesc {
		        color      : #aaa;
		        font-size  : 0.8em;
		        padding    : 1em;
		        text-align : right;
		    }
		    #tags {
		        display : none;
		    }
		}
		@media only screen and (orientation: landscape) and (max-width: 600px) {
		    #shortdesc {
		       float: right;
		       width: 25%;
		    }
		    #map {
		        width: 70%;
		    }
		    #docs {
		        font-size: 12px;
		    }
		}
	</style>

{% endblock %}