{% extends '../layout/dashboard.html' %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
    	<h1 class="page-header">
        	Dashboard <small>DSS SEMAR</small>
        </h1>
    </div>
</div>
<section class="content">
            <div class="col-md-6">
                <div class="form-group">
                    <a href="/dashboard/aws">  <img src="/img/aws.png" width='255' height='154'> </a>&nbsp
					<a href="/dashboard/satelite">  <img src="/img/satelite.png" width='154' height='154'> </a>&nbsp
					<a href="/dashboard/atmosfer">  <img src="/img/atmosfer.png" width='154' height='154'> </a><br><br>
					<a href="/dashboard/posisi">  <img src="/img/posisi.png" width='255' height='154'> </a>&nbsp
					<a href="/dashboard/atmosfer">  <img src="/img/cuaca.png" width='154' height='154'> </a>&nbsp
					<a href="/dashboard/data/nelayan">  <img src="/img/data.png" width='154' height='154'> </a><br><br>
					<a href="/dashboard/radar">  <img src="/img/radar.png" width='154' height='154'> </a>&nbsp
					<a href="/dashboard/setting">  <img src="/img/pengaturan.png" width='154' height='154'> </a>&nbsp
					<a href="/dashboard/laut">  <img src="/img/laut.png" width='255' height='154'> </a>&nbsp
            </div>
        </section>
        <!-- /.content -->
    </aside>

	
{% endblock %}