{% extends '../layout/dashboard.html' %}

{% block content %}
<div class="row">
	<div class="col-md-12">
    	<h1 class="page-header">
        	{{ title }} <small>DSS SEMAR</small>
        </h1>
    </div>

    <div class="col-md-12">
	    <table class="table table-bordered table-data" style="font-size:9pt;">
	    <thead>
	    	<tr>
	    		<th width="10px">No</th>
	    		<th>TYPE_ID</th>
	    		<th>NAME</th>
	    		<th width="40px"></th>
	    	</tr>
	    </thead>
	    <tbody>
	    	{% for item in data.rows %}
	    	<tr>
	    		<td>{{ loop.index }}</td>
	    		<td>{{ item.TYPE_ID }}</td>
	    		<td>{{ item.NAME }}</td>
	    		<td>
	    			<button class="btn btn-default btn-xs" data-toggle="modal" data-target="#form" data-detail='{{ item.json }}'> <span class="fa fa-edit"></span> </button> &nbsp; 
	    			<button class="btn btn-default btn-xs" onclick="hapus(this)" data-detail='{{ item.json }}'> <span class="fa fa-remove"></span> </button>
	    		</td>
	    	</tr>
	    	{% endfor %}
	    </tbody>
	    </table>

	    <br/>

	    <button class="btn btn-default" data-toggle="modal" data-target="#form">Tambah Data</button>
    </div>

    <div id="form" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Input/Edit Data Kapal</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" method="post" role="form">
						<input type="hidden" name="OLD_TYPE" />
						<div class="form-group">
							<label class="col-md-3">TYPE_ID</label>
							<div class="col-md-9">
								<input type="number" name="TYPE_ID" class="form-control" placeholder="TYPE_ID" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3">NAME</label>
							<div class="col-md-9">
								<input type="text" name="NAME" class="form-control" placeholder="NAME" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-9">
								<button class="btn btn-default">Simpan</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready( function() {
	$('.table-data').DataTable();
} );

$('#form').on('shown.bs.modal', function (e) {
    var b = $(e.relatedTarget);
    var detail = b.data('detail');
    $('#form').find('input[name=OLD_TYPE]').val('');
    if(detail!=undefined){
    	console.log("edit",detail);
    	$('#form').find('input[name=OLD_TYPE]').val(detail.TYPE_ID);
    	$('#form').find('input[name=TYPE_ID]').val(detail.TYPE_ID);
    	$('#form').find('input[name=NAME]').val(detail.NAME);
    }else{
    	console.log("insert");
    }
} );

function hapus(th){
	var detail = $(th).data('detail');
	if(detail!=undefined){
		if(confirm('Yakin akan dihapus ?')){
			$.post(location.href, {TYPE_ID: detail.TYPE_ID, CMD: 'delete'}, function(res){
				location.reload();
			});
		}
	}
}
</script>

{% endblock %}