{% extends '../layout/dashboard.html' %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
    	<h1 class="page-header">
        	{{ title }} <small>DSS SEMAR</small>
        </h1>
    </div>

    {% if view==1 %}
    <div class="col-md-12">
	    <form class="form-horizontal" method="post" role="form" onsubmit="return get_data_kapal();">
		    <div class="form-group">
		    	<label class="col-md-2">Tanggal</label>
		    	<div class="col-md-3">
		    		<input type="date" name="tanggal" class="form-control" value="{{ data.tanggal }}" />
		    	</div>
		    	<div class="col-md-2">
		    		<button class="btn btn-primary">Tampil</button>
		    	</div>
				<div role="group" aria-label="Animation controls">
					<button id="play" type="button">Play</button>
					<button id="pause" type="button">Pause</button>
		    	</div>
		    </div>
		</form>
    </div>
    {% endif %}

    <div class="col-md-12">
    	<div id="map" style="width: 100%; height: 500px"></div>
    </div>
</div>

	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
	<script type="text/javascript">
	
		var map, osm, icon, markers, iconikan;

		map = L.map( 'map' );
		map.setView(new L.LatLng(-2, 120), 4);
    	osm = new L.TileLayer( 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {minZoom: 1, maxZoom: 12, attribution: false});
    	map.addLayer( osm );
    	markers = new L.FeatureGroup();
    	map.addLayer( markers );

  		icon = L.icon({
		    iconUrl: '/maps/assets/img/kapal.png',
		    iconSize:     [25, 17]
		});
		iconikan = L.icon({
		    iconUrl: '/maps/assets/img/ikan.png',
		    iconSize:     [25, 17]
		});

		// L.marker([-2, 120], {icon: icon }).addTo(map);
		// map.fitBounds( polyline.getBounds() );
		
		function get_data_kapal() {
	        markers.clearLayers();
			$.post("/dashboard/map", {tanggal: $('input[name=tanggal]').val()}, function( res ) {
				for( kapal in res.result ) {
					if( res.result[kapal].length==1 ) {
						var marker = L.marker( [Number(res.result[kapal][0].LATITUDE), Number(res.result[kapal][0].LONGITUDE)], {icon: icon} );
						markers.addLayer( marker );
					} else {
						var points = new Array;
						for(i=0; i<res.result[kapal].length; i++) {
							var point = L.latLng( Number(res.result[kapal][i].LATITUDE), Number(res.result[kapal][i].LONGITUDE) ) ;
							points.push( point );
						}
						var polyline = L.polyline( points, {color: 'red'});
						markers.addLayer( polyline );

						var sz = res.result[kapal].length-1;
						var marker = L.marker( [Number(res.result[kapal][sz].LATITUDE), Number(res.result[kapal][sz].LONGITUDE)], {icon: icon} );
						markers.addLayer( marker );
					}
				}
				get_data_ikan();
			} );
			return false;
		}

		function get_data_ikan() {
	        // markers.clearLayers();
			$.post("/dashboard/posisi_ikan", {tanggal: $('input[name=tanggal]').val()}, function( res ) {
				for( ikan in res.result ) {
					if( res.result[ikan].length==1 ) {
						var lon = res.result[ikan][0].LONGITUDE.replace( ",", "." );
						var lat = res.result[ikan][0].LATITUDE.replace( ",", "." );
						var marker = L.marker( [Number(lat), Number(lon)], {icon: iconikan} );
						markers.addLayer( marker );
					} else {
						console.log( "length>1" );
					}
				}
			} );
			return false;
		}

	</script>

	<style type="text/css">
		.smallmap {
		    width: 100%;
		    height: 650px;
		    border: 1px solid #ccc;
		    display: inherit;
		}
		@media only screen and (max-width: 600px) {
		    body {
		        height           : 100%;
		        margin           : 0;
		        padding          : 0;
		        width            : 100%;
		    }
		    #map {
		        background : #7391ad;
		        width      : 100%;
		    }
		    #map {
		        border : 0;
		        height : 250px;
		    }
		    #title {
		        font-size   : 1.3em;
		        line-height : 2em;
		        text-indent : 1em;
		        margin      : 0;
		        padding     : 0;
		    }
		    #docs {
		        bottom     : 0;
		        padding    : 1em;
		    }
		    #shortdesc {
		        color      : #aaa;
		        font-size  : 0.8em;
		        padding    : 1em;
		        text-align : right;
		    }
		    #tags {
		        display : none;
		    }
		}
		@media only screen and (orientation: landscape) and (max-width: 600px) {
		    #shortdesc {
		       float: right;
		       width: 25%;
		    }
		    #map {
		        width: 70%;
		    }
		    #docs {
		        font-size: 12px;
		    }
		}
	</style>

{% endblock %}