extends layout

block content
	h1= title
	p Welcome to #{title}

	hr

	h1 Login
	form(method="post", action="/login")
		label Username : 
			input(name="username")
			br
		label Password : 
			input(name="password", type="password")
			br
		button Login