<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Live Map - SEMAR LAPAN & DI Yogyakarta</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
	<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond./javascripts/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-target=".navbar-fixed-top">

    <!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
				  <img src="map/assets/img/logolapan.png" width='52' height='52'>
				  <img src="map/assets/img/logodiy.png" width='52' height='52'>
				  <img src="map/assets/img/logokkp.png" width='52' height='52'>
				  <img src="map/assets/img/logobmkg.png" width='47' height='52'>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">LIVE MAP</span> SEMAR - LAPAN
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="icon">Menu</a>
                    </li>
                </ul>
            </div>
            

        </div>
        

    </nav>
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation"><!-- /.container -->
<div class="page-full" id="map"></div>
</nav>
 
      <!-- jQuery -->
      <script src="javascripts/jquery.js"></script>
      
      <!-- Bootstrap Core JavaScript -->
      <script src="javascripts/bootstrap.min.js"></script>
      
      <!-- Plugin JavaScript -->
      <script src="javascripts/jquery.easing.min.js"></script>
      
      <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>
      
      <!-- Custom Theme JavaScript -->
      <script src="/javascripts/grayscale.js"></script>
</p>
    <script>
L.mapbox.accessToken = 'pk.eyJ1IjoiZGVhc3lybiIsImEiOiJjaWwxeTUxZDYzYTZxdXlrc2JuemQzamlrIn0.XkIZWnFxFM9Oa33C8Y5i8g';
var map = L.mapbox.map('map', 'mapbox.streets').setView([-8.0798738, 110.3225901], 10);

// Add each wms layer using L.tileLayer.wms
var hujan = L.tileLayer.wms('http://10.30.20.4/wms/wms?SERVICE=WMS',
{
    srs: 'EPSG:4326',
	format: 'image/png',
    transparent: true, 
    layers: 'WRFE/RAINC',
	bgcolor: 'transparent',
	style:'default-scalar/x-Rainbow',
	opacity: 0.8
	
}).addTo(map);

var suhu = L.tileLayer.wms('http://10.30.20.4/wms/wms?SERVICE=WMS', {
    srs: 'EPSG:4326',
	format: 'image/png',
    transparent: true,
    layers: '',
	bgcolor: 'transparent',
	opacity: 0.8
}).addTo(map);

var angin = L.tileLayer.wms('http://10.30.20.4/wms/wms?SERVICE=WMS', {
    srs: 'EPSG:4326',
	format: 'image/png',
    transparent: true,
    layers: '',
	bgcolor: 'transparent',
	opacity: 0.8
}).addTo(map);

var spl = L.tileLayer.wms('http://10.30.20.4/wms/wms?SERVICE=WMS', {
    srs: 'EPSG:4326',
	format: 'image/png',
    transparent: true,
    layers: '',
	bgcolor: 'transparent',
	opacity: 0.8
}).addTo(map);

// Layer switcher
document.getElementById('hujan').onclick = function () {
    var enable = this.className !== 'active';
    hujan.setOpacity(enable ? 1 : 0);
    this.className = enable ? 'active' : '';
    return false;
};

document.getElementById('suhu').onclick = function () {
    var enable = this.className !== 'active';
    suhu.setOpacity(enable ? 1 : 0);
    this.className = enable ? 'active' : '';
    return false;
};

document.getElementById('angin').onclick = function () {
    var enable = this.className !== 'active';
    angin.setOpacity(enable ? 1 : 0);
    this.className = enable ? 'active' : '';
    return false;
};

document.getElementById('spl').onclick = function () {
    var enable = this.className !== 'active';
    spl.setOpacity(enable ? 1 : 0);
    this.className = enable ? 'active' : '';
    return false;
};
    </script>
</body>

</html>
